-# .slider
-#   .slide-1
-#     .image-1
-#       .caption
-#         %h4 Sample Text
-#         %p  Pommy ipsum anorak loo a bit wonky indeed we'll be 'avin less of that.
-#   .slide-2
-#     .image-2
-#       .caption-2
-#         %h4 Other Text
-#         %p  Pommy ipsum anorak loo a bit wonky indeed we'll be 'avin less of that.
.slider
  - @products.each do |p|
    %div{:class => "image-#{p.id}"}
      = image_tag("#{p.image_url}")
      %div{:class => "caption-#{p.id}"}
        
