- cache('index_page') do
	.row.index-container
		.small-12.columns.show-for-landscape
			-# = image_tag 'Jetty-carousel.jpg'
		.small-12.columns.show-for-portrait
			-# = image_tag 'california-street.jpg'
	.row.index-text
		.small-12.medium-8.medium-offset-2.columns.title-box
			%h1 Kevin Attfield
			%h4 Photographer
