.top-bar {
	background-color: rgba(0,0,0,0.2);
	z-index: 1000;
	// box-shadow: 0 0 15px;
}
.top-bar-section ul li {
	background-color: transparent;
}
ul.right {
	@media (min-width: 800px) {
		margin-right: 3.6%;
	}
	.has-dropdown > a:before {
		font-family: "FontAwesome";
		content: "\f007";
		margin:	0 7px;
	}
	a {
		// background-color: cornflowerblue;
	}
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background-color: #262626
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: transparent;
	transition: 500ms;
	&:hover {
		background-color: darken(#262626, 5%);
	}
}
.top-bar.expanded {
	.toggle-topbar a span{
		color: white;
		&:after {
			box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
		}
	}
	.title-area {
		background-color: darken(#6495ED, 7%);
	}
}
#notice {
  margin: 0;
  line-height: 2.825rem;
}
.fi-torso {
	color: white;
    margin-top: 14px;
}
.name {
	color: white;
	margin-left: 10px!important;
	transition: 500ms;
}
.cart {
	position: relative;
	a {
		height: 45px;
	}
	a:before {
		font-family: "FontAwesome";
		font-size: 1.5em;
		content: "\f07a";
		margin:	0 7px;
	}
	.order-i {
		position: absolute;
		top: 6px;
		left: 37px;
		color: black;
		background-color: red;
		height: 15px;
		width: 15px;
		text-align: center;
		padding: 2px;
		border-radius: 100px;
		p {
			font-size: 0.6em;
			line-height: 11px;
		}
	}
}