// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-sizer,
.grid-item {
	width: 48%;
	margin: 1%;
	@media (min-width: 800px) {
		width: 23%;
	}
}
.price {
	position: absolute;
	margin: 0;
	top: 0;
	text-align: center;
	width: 23%;
	color: white;
	background-color: black;
	z-index: 100;
	border-radius: 0 0 29px 0;
	font: {
		size: 0.6em;
		weight: bold;
	}
	@media (min-width: 600px) {
		font-size: 1em;
	}
	line-height: 1.8em;
}
.title {
	@extend .price;
	right: 0;
	width: 40%;
	border-radius: 0 0 0 29px;
}
#search-bar {
	float: none;
	margin: auto;
	padding-top: 2%;
}
.search-submit {
	padding: 0;
	background-color: yellowgreen;
    color: black;
    border-color: lightgray;
}
.add-to-order-btn {
	background-color: #EAA82E;
	border: none;
	color: black;
	padding: 10px;
	&:visited {
		color: black;
	}
}
.pagination {
	.current {
		background-color: transparent;
		color: white;
		padding: 2.4px;
		border: 1px solid white;
		border-radius: 70%;
	}
	.disabled {
		color: #7B7B7B;
	}
}