- if signed_in?
	%h4 Leave a review
	= form_for([@product, @product.comments.build]) do |f|
		%p
			= f.label :body, "Comments"
			%br
			= f.text_area :body
		%p
			%span Rate Me: &nbsp;
			%span.rating
		%p
			= f.submit "Submit"