= form_tag("/products", method: "get", role: "search", type: "search") do
	.row
		.large-6.columns#search-bar
			.row.collapse.postfix-round
				.small-9.columns
					= search_field_tag(:q, nil, placeholder: "Search Products", class: "search-box")
				.small-3.columns
					= submit_tag "Search", class: "button postfix search-submit"
